### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

.idea/*

### Python ###
__pycache__/

# Distribution / packaging
.Python
build/
dist/

# poetry
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env

### react ###
.DS_*
logs
**/*.backup.*
**/*.back.*

node_modules

### docker ###
mysql/mysql_data
